flows.json
[{"id":"d9d67f3e.907c6","type":"tab","label":"changeip DDNS","disabled":false,"info":"# dynamic DNS update using changeip.com\n\nThis flow will regularly monitor if your home public IP address didn't change (which can happen for some internet service providers after you have rebooted/restarted your home router/modem).\n\nIf the flow detects that your public IP address has changed it will automatically update the IP address you have registered with [changeip.com](https://changeip.com) for the public hostname (`$changeip_hostname`) you have chosen and a message of successful/unsuccessful update is posted to slack channel with ID `$slack_channel_tweets`.\n\n## Prerequisites\n\nThe following 5 environments variables must be set for this flow:\n\n1. **changeip_user** : your changeip email address. It is needed together with your changeip password to change your public IP address.\n2. **changeip_password** : changeip password.\n3. **changeip_hostname** : your public hostname as chosen in [changeip.com](https://changeip.com) (e.g. `myhomegateway.onmypc.org`)\n4. **slack_token** : the API token of your slack Bot (customs integrations)\n5. **slack_channel_changeip** : The ID of the slack channel where the flow will post a message when your public IP address has changed.\n\n## Testing\n\nYou can test the proper working of the IP address update by :\n 1. trigger the `[set test ip address]` inject node.  This will change the public IP address stored in the flow context which forces an update of the public IP address next time we retrieve it (i.e. by next step)\n 2. trigger the `[Get IP]` inject node\n\nYou can test if slack configuration is properly setup by triggering the `[test slack output]` inject node: This should post a message on the slack channel with id `$slack_channel_changeip`.\n\n## Github Source\n\n* [janvda/node-red-changeip-DDNS](https://github.com/janvda/node-red-changeip-DDNS/blob/master/README.md)\n\n## Credits\n\nThe first part of the flow is based on : https://flows.nodered.org/flow/9559f217b08913702c38\nFor more information about the service used see: https://whatismyipaddress.com/api\n\nThe second part of the flow will update the IP address if changed.\nSee also https://discourse.nodered.org/t/how-to-change-dynamic-ip-address-changip-com-using-node-red/4164/2"},{"id":"44ef4a41.f917c4","type":"slack-config","z":"","name":"$slack_token"},{"id":"aee17e28.cf23c","type":"inject","z":"d9d67f3e.907c6","name":"Get IP","topic":"ip","payload":"","payloadType":"str","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":120,"y":240,"wires":[["e996173d.58c518"]]},{"id":"e996173d.58c518","type":"exec","z":"d9d67f3e.907c6","command":"wget -qO- http://ipv4bot.whatismyipaddress.com/ ; echo","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Call IP - whatismyipaddress.com","x":343,"y":239.5,"wires":[["7f278271.226a3c","53eb898b.60c378"],["b2dcf87e.787088"],["5556d873.fbb898"]]},{"id":"7f278271.226a3c","type":"switch","z":"d9d67f3e.907c6","name":"Integrity check","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":200,"wires":[["92525eec.1dc8","fed86cd4.f4999"],[]]},{"id":"53eb898b.60c378","type":"debug","z":"d9d67f3e.907c6","name":"call ip : stdout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":160,"wires":[]},{"id":"b2dcf87e.787088","type":"debug","z":"d9d67f3e.907c6","name":"call ip - stderr","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":260,"wires":[]},{"id":"5556d873.fbb898","type":"debug","z":"d9d67f3e.907c6","name":"call ip - return code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":320,"wires":[]},{"id":"92525eec.1dc8","type":"debug","z":"d9d67f3e.907c6","name":"my public ip address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":200,"wires":[]},{"id":"5e8f59f9.2e6bc8","type":"http request","z":"d9d67f3e.907c6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":500,"wires":[["90049ffc.91b14","9adae8b6.c3c5d8"]]},{"id":"90049ffc.91b14","type":"debug","z":"d9d67f3e.907c6","name":"http change ip address response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":500,"wires":[]},{"id":"9d3e8ca7.cd1cf","type":"switch","z":"d9d67f3e.907c6","name":"flow.public_ip != msg.payload ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"public_ip","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":360,"wires":[["f9e324f2.2e3628"]]},{"id":"8c1ecb02.bd9ef8","type":"change","z":"d9d67f3e.907c6","name":"flow.public_ip = msg.payload","rules":[{"t":"set","p":"public_ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":420,"wires":[["7ad620d8.72096","ad3a9e86.43916"]]},{"id":"7ad620d8.72096","type":"debug","z":"d9d67f3e.907c6","name":"new public IP address","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1180,"y":420,"wires":[]},{"id":"399b012a.f0588e","type":"inject","z":"d9d67f3e.907c6","name":"On Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["9a018693.da10d8"]]},{"id":"ad3a9e86.43916","type":"change","z":"d9d67f3e.907c6","name":"set msg.url for changeip","rules":[{"t":"set","p":"url","pt":"msg","to":"/* construct an url to change the IP address for the public hostname you have setup with changeip.com */\t\"https://nic.changeip.com/nic/update?hostname=\" & $flowContext(\"changeip_hostname\")\t  & \"&myip=\" & $flowContext(\"public_ip\") \t  & \"&u=\" & $flowContext(\"changeip_user\")\t  & \"&p=\" & $flowContext(\"changeip_password\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":500,"wires":[["33c90bc0.a0d234","5e8f59f9.2e6bc8"]]},{"id":"fed86cd4.f4999","type":"change","z":"d9d67f3e.907c6","name":"remove last char","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, $length(payload)-1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["9d3e8ca7.cd1cf"]]},{"id":"2afb6ef3.086f62","type":"inject","z":"d9d67f3e.907c6","name":"set test ip address","topic":"","payload":"9.9.9.9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["aa0c06fc.b4d178"]]},{"id":"aa0c06fc.b4d178","type":"change","z":"d9d67f3e.907c6","name":"flow.public_ip = msg.payload","rules":[{"t":"set","p":"public_ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[[]]},{"id":"f9e324f2.2e3628","type":"change","z":"d9d67f3e.907c6","name":"set msg text","rules":[{"t":"set","p":"text","pt":"msg","to":"\"old public IP=\" & $flowContext(\"public_ip\")\t& \", new public IP=\" & payload &\t\"\\n changing public IP address ...\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":340,"wires":[["8c1ecb02.bd9ef8","ab95e603.9c1d88"]]},{"id":"3816fcd8.bbd724","type":"change","z":"d9d67f3e.907c6","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"\"public IP address successfully changed\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":540,"wires":[["ab95e603.9c1d88"]]},{"id":"9adae8b6.c3c5d8","type":"switch","z":"d9d67f3e.907c6","name":"statusCode ?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":660,"y":560,"wires":[["3816fcd8.bbd724"],["258bf70f.69d858"]]},{"id":"258bf70f.69d858","type":"change","z":"d9d67f3e.907c6","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"\"Failed to change public IP address (StatusCode = \" &\tpayload & \")\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":580,"wires":[["ab95e603.9c1d88"]]},{"id":"9a018693.da10d8","type":"change","z":"d9d67f3e.907c6","name":"store env variables in flow context","rules":[{"t":"set","p":"changeip_hostname","pt":"flow","to":"changeip_hostname","tot":"env"},{"t":"set","p":"changeip_user","pt":"flow","to":"changeip_user","tot":"env"},{"t":"set","p":"changeip_password","pt":"flow","to":"changeip_password","tot":"env"},{"t":"set","p":"slack_token","pt":"flow","to":"slack_token","tot":"env"},{"t":"set","p":"slack_channel_changeip","pt":"flow","to":"slack_channel_changeip","tot":"env"},{"t":"set","p":"changeip_url","pt":"flow","to":"changeip_url","tot":"env"},{"t":"set","p":"changeip_url_credentials","pt":"flow","to":"changeip_url_credentials","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["930a028f.ac8"]]},{"id":"776b5ff0.e4b6","type":"debug","z":"d9d67f3e.907c6","name":"$slack_token","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":700,"wires":[]},{"id":"ab3306dd.d49b18","type":"inject","z":"d9d67f3e.907c6","name":"test slack output","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":660,"wires":[["1056c79.95f3a38"]]},{"id":"1056c79.95f3a38","type":"change","z":"d9d67f3e.907c6","name":"","rules":[{"t":"set","p":"text","pt":"msg","to":"this is a test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":660,"wires":[["ab95e603.9c1d88"]]},{"id":"ab95e603.9c1d88","type":"change","z":"d9d67f3e.907c6","name":"prepare message for $slack_channel_changeip","rules":[{"t":"set","p":"topic","pt":"msg","to":"chat.meMessage","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"channel\":\"SEE BELOW\",\"text\":\"SEE BELOW\"}","tot":"json"},{"t":"set","p":"payload.text","pt":"msg","to":"text","tot":"msg"},{"t":"set","p":"payload.channel","pt":"msg","to":"slack_channel_changeip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":660,"wires":[["e2ed1be6.89a3d8"]]},{"id":"930a028f.ac8","type":"assert","z":"d9d67f3e.907c6","name":"check if all env variables are set","rules":[{"property":"slack_token","propertyType":"flow","type":"neq","value":"","valueType":"str","failMsg":"env $slack_token is not set"},{"property":"slack_channel_changeip","propertyType":"flow","type":"neq","value":"","valueType":"str","failMsg":"env $slack_channel_changeip is not set"},{"property":"changeip_hostname","propertyType":"flow","type":"neq","value":"","valueType":"str","failMsg":"env $changeip_hostname is not set"},{"property":"changeip_user","propertyType":"flow","type":"cont","value":"@","valueType":"str","failMsg":"env $changeip_user is not set or valid email address"},{"property":"changeip_password","propertyType":"flow","type":"neq","value":"","valueType":"str","failMsg":"env $changeip_password is not set"}],"x":670,"y":80,"wires":[[]]},{"id":"8e9df745.303d88","type":"catch","z":"d9d67f3e.907c6","name":"assert error","scope":["930a028f.ac8"],"uncaught":false,"x":890,"y":80,"wires":[["5fea4231.02438c"]]},{"id":"5fea4231.02438c","type":"debug","z":"d9d67f3e.907c6","name":"assert error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error.message","targetType":"msg","x":1060,"y":80,"wires":[]},{"id":"33c90bc0.a0d234","type":"debug","z":"d9d67f3e.907c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","x":480,"y":420,"wires":[]},{"id":"e2ed1be6.89a3d8","type":"slack-web-out","z":"d9d67f3e.907c6","client":"44ef4a41.f917c4","name":"$slack_token","x":870,"y":700,"wires":[["776b5ff0.e4b6"]]}]